<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../stylesheets/index.css" />
    <title>EJS work</title>
  </head>
  <body>
    <h1 style="font-family: fantasy">Hello <%= 2+2 %></h1>
    <!-- hey it is just the linter problem if you are getting any tag in red part as we don't had install any ejs file formatter -->
    <script src="/scripts/firstscript.js"></script>
  </body>
</html>
